#ddlCountry {
    margin-top: 35px;
}

.container {
    width: 450px;
}

.table {
    width: 0%;
}

table tr td:nth-child(1) {
    width: 50px;
    background-color: #f6f6d4;
}

table tr td:nth-child(2) {
    width: 50px;
    background-color: #ededd1;
}

table tr th {
    text-align: center;
}

#ajaxLinks {
    width: 200px;
    margin: auto;
    background-color: aliceblue;
    border: 1px solid black;
    text-decoration: underline;
    padding: 7px;
}

    #ajaxLinks a {
        margin: 5px;
    }

#CountriesGridView {
    margin-top: 50px;
}

select#ddlCountry {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 20px;
}
